*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    
}

body {
    margin: 0;
    padding-top: 5rem;
    background-color: #0f172a;
    color: #f8fafc;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

#navbar {
    background-color: #0f172a;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    color: #f8fafc;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-bottom: 1px solid #1e293b;
}

.bars-icon {

    width: 3rem;
    height: 3rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
}

.bars-icon:hover {
    background-color: #1e293b;
    
}

#logo {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}

#links-container {
    display: none;
    gap: 1rem;
}

.link {
    color: white;
    text-decoration:  none;
}

.link:hover {
    text-decoration: underline;
}

#main-container {
    height: 100%;
    padding: 0 1rems;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#main-title {
    margin: 0;
    font-size: 4rem;
}

#title-accent {
    color: #60a5fa;
}

#main-descrition {
    text-align: justify;
    font-size: 1.2rem ;
    margin: 0;
    gap: 1rem;
}


#main-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

#main-link {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #60a5fa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #1e293b;
    transition: all 0.3s ease-in-out;
}

#main-link:hover {
    background-color: #3b82f6
}

@media (min-width: 768px) {
    .bars-icon {
        display: none;
    }

    #links-container {
        display: flex;
    }

    #main-container {
        width: 70%;
        margin: 0 auto;
    }
}


@media (min-width: 1024px) {
    #main-container {
        flex-direction: row;
        width: 50%;
    }
}