*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;

}

body {
    margin: 0;
    background-color: #0f172a;
    color: #f8fafc;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    
}

.colum {
    margin: 0 ;
    list-style: none;
    padding: 1rem;
    background-color: #1d4ed8;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem ;
    max-height: 25rem;
    overflow: auto;
    /* overflow: no funciona si no tiene altura ; */

   
}

.agregar-tarea {
    background-color: white;
    border-radius: 1rem 1rem 0rem 0rem;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5rem;
}

.agregar-tarea input {
    font-size: 1.1rem;
    
}


#inew {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: white;
}
.add {
    width: 4rem;
    color: #1d4ed8;
    height: 3rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
   
}


.container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    max-width: 50%;
    
    
   
}

.task {
    
    font-size: 1.2rem;
    display: flex;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    
   
    
    
}

.delete-btn {
    width: 3rem;
   
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    
    
}

.delete-btn:hover {
    background-color: #1a2a44;
}

.chack-btn {
    width: 3rem;
    
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 3rem;
    transition: all 0.3s ease-in-out;
    
}

.chack-btn:hover {
    background-color: #1a2a44;


}

.new {
    display: flex;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word
}
